<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PDMWCRGCQ4"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1937403086432832"
            crossorigin="anonymous"></script>


    {% block extra_head %}
    {% endblock %}

</head>
<body>
{% block content %}
{% endblock %}

<footer class="bg-pink-800 text-white p-2 md:p-8">
    Go to main page: <a class="text-blue-400 underline" href="/">Erase BG</a>
    <br>
    Available GIF Makers: <a class="text-blue-400 underline mx-2" href="https://erasebg.org/gif/opening-heart-locket-gif-maker/">Opening Heart Locket GIF
    Maker</a>
    <a class="text-blue-400 underline mx-2" href="https://erasebg.org/gif/image-to-flag-gif-maker/">Flag GIF Maker</a>
</footer>

<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-PDMWCRGCQ4');
</script>
</body>
</html>