{% extends 'layouts/default.html' %}

{% block title %}
    <title>All Posts - DJ CMS</title>
{% endblock %}

{% block content %}
    <div class="p-8">
        <div>
            <h1 class="inline-block text-xl">All Posts</h1>
            <a href="{% url 'new_post' %}"
               class="inline-block border rounded border-blue-500 px-2 py-1 mx-2 text-[12px] text-blue-600 font-semibold">Add
                New
            </a>
        </div>
        <table class="w-full bg-white rounded-lg mt-4">
            <thead class="border-b border-[#dfdfdf]">
            <tr class="text-sm">
                <th class="font-normal text-blue-600 py-2 w-1/6 text-start px-4">Title</th>
                <th class="font-normal w-1/6 text-start px-4 hidden sm:table-cell">Author</th>
                <th class="font-normal w-1/6 text-start px-4 hidden md:table-cell">Categories</th>
                <th class="font-normal w-1/6 text-start px-4 hidden md:table-cell">Tags</th>
                <th class="font-normal w-1/6 text-start px-4 hidden lg:table-cell">Comments</th>
                <th class="font-normal text-blue-600 py-2 w-1/6 text-start px-4 hidden lg:table-cell">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td class="px-4 align-top text-sm w-1/6 py-2">
                        <a href="{% url 'edit_post' post.pk %}" class="text-blue-500">{{ post.title }}</a>
                    </td>
                    <td class="px-4 align-top text-sm w-1/6 py-2 hidden sm:table-cell">
                        <a href="#" class="text-blue-500">
                            {% if post.author %}
                                {{ post.author }}
                            {% else %}
                                —
                            {% endif %}
                        </a>
                    </td>
                    <td class="px-4 align-top text-sm w-1/6 py-2 hidden md:table-cell">
                        <a href="#" class="text-blue-500">Uncategorized</a>
                    </td>
                    <td class="px-4 align-top text-sm w-1/6 py-2 hidden md:table-cell">
                        —
                    </td>
                    <td class="px-4 align-top text-sm w-1/6 py-2 hidden lg:table-cell">
                        —
                    </td>
                    <td class="px-4 align-top text-[13px] text-gray-700 w-1/6 py-2 hidden lg:table-cell">
                        <span class="block">
                            {% if post.is_draft %}
                                Last Modified
                            {% else %}
                                Published
                            {% endif %}
                        </span>
                        <span class="block">{{ post.created_at|date:"Y/m/d" }} at {{ post.created_at|date:"h:m a" }}</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}