<div>
    <label for="name" class="text-[13px]">Name</label>
    <input name="name" class="block w-full border rounded px-2 py-1 border-primary text-sm" type="text" id="name"
           value="{% if form.name.value %}{{ form.name.value }} {% endif %}">

    {% if form.errors.name %}
        <span class="block mt-1 text-[12px] text-red-500">{{ form.errors.name }}</span>
    {% endif %}
    <span class="text-[12px] text-gray-500">The name is how it appears on your site.</span>
</div>

<div class="mt-4">
    <label for="slug" class="text-[13px]">Slug</label>
    <input name="slug" class="block w-full border rounded px-2 py-1 border-primary text-sm" type="text" id="slug"
           placeholder="Leave empty to auto generate" value="{% if form.slug.value %}{{ form.slug.value }}{% endif %}">
    {% if form.errors.slug %}
        <span class="block mt-1 text-[12px] text-red-500">{{ form.errors.slug }}</span>
    {% endif %}
    <span class="text-[12px] text-gray-500">The “slug” is the URL-friendly version of the name.
        It is usually all lowercase and contains only letters, numbers, and hyphens.</span>
</div>

<div class="mt-4">
    <label for="slug" class="text-[13px]">Parent Category</label>
    <select name="parent_category"
            class="block min-w-[60px] text-sm bg-white border rounded px-2 text-start py-1 border-primary" type="text"
            id="slug">
        <option value {% if not form.parent_category.value %}selected{% endif %}>None</option>
        {% for category in categories %}
            <option value="{{ category.pk }}"
                    {% if form.parent_category.value|add:0 == category.pk %}selected{% endif %}>
                {{ category.name }}
            </option>
        {% endfor %}
    </select>

    {% if form.errors.parent_category %}
        <span class="block mt-1 text-[12px] text-red-500">{{ form.errors.parent_category }}</span>
    {% endif %}
    <span class="text-[12px] text-gray-500">Categories, unlike tags, can have a hierarchy. You might have a
        Jazz category, and under that have children categories for Bebop and Big Band. Totally optional.</span>
</div>


<div class="mt-4">
    <label for="description" class="text-[13px]">Description</label>
    <textarea name="description" class="resize-none block h-28 w-full border rounded px-2 py-1 border-primary text-sm"
              type="text" id="slug">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
    {% if form.errors.description %}
        <span class="block mt-1 text-[12px] text-red-500">{{ form.errors.description }}</span>
    {% endif %}
    <span class="text-[12px] text-gray-500">The description is not prominent by default; however,
        some themes may show it.</span>
</div>
